SECRET_KEY=#Добавьте свои значения

DEBUG=#Добавьте свои значения

POSTGRES_DB=#Добавьте свои значения
POSTGRES_USER=#Добавьте свои значения
POSTGRES_PASSWORD=#Добавьте свои значения
DB_HOST=#Добавьте свои значения
DB_PORT=#Добавьте свои значения